.campaigns {
	padding: 20px;	
	height: 100%;
	width: 100%;

	&--title-bar {
		display: flex;
		align-items: flex-end;
		margin-bottom: 20px;
		h2 {
			margin: 0;
		}
	}

	&--campaign-slots {
		font-style: italic;
		font-size: 12px;
		padding-top: 2px;
		color: darkslategray;
		font-family: sans-serif;
		text-transform: none;
	}

	&--new-campaign {
		display: flex;
		align-items: center;
		button {
			margin: 0 10px 0 20px;
		}
	} 
}
