.campaign {
    display: flex;
    flex-direction: column;
    height: 100%;

    .campaign-edit {
        &--name {
            input {
                font-size: 24px;
                font-weight: bold;
                color: #444;
                font-family: "Helvetica Neue", arial, sans-serif;
            }
        }
    }

    &--header {
        position: relative;
        display: flex;
        background: snow;
        border-bottom: 1px solid lightgrey;
        height: 202px;
    }

    &--img {
        width: 300px;
        height: 100%;
        object-fit: cover;
    }

    &--actions {
        position: absolute;
        top: 10px;
        right: 10px;
        display: flex;
        > * {
            margin-left: 5px;
        }
    }

    &--info {
        padding: 5px;
        display: flex;
        flex-direction: column;
        flex-grow: 1;

        > h2 {
            margin: 0;
            padding: 7px 11px;
            line-height: 21px;
        }

        > p {
            margin: 0;
            padding: 5px 10px;
            font-size: 15px;
            margin-top: 21px;
            margin-left: 1px;
        }
    }

    .tab-group {
        margin-top: 10px;
    }

    .sessions {
        display: flex;
        flex-grow: 1;
        border-top: 1px solid black;

        .session-list {
            width: 200px;
            background-color: #f7f7f7;
            overflow-y: scroll;
            background: #ddd6ce;
            padding: 10px;

            > .session-card {
                margin-bottom: 10px;
            }
        }

        .session-view {
        }
    }
}
