.form-input {
    width: 200px;
    height: 35px;
    border-radius: 6px;
    font-size: 15px;
    padding: 0 10px;
    border: 1px solid #9f9e9e;
    text-overflow: ellipsis;

    &:focus {
        outline: 3px solid #ccdeff;
    }

    &--error {
        border: 1px solid red;
    }

    &--medium {
        width: 300px;
    }

    &--large {
        width: 400px;
    }

    &--x-large {
        width: 850px;
    }

    &--elastic {
        width: 100%;
    }
}