.home {
	padding: 20px;	
	height: 100%;
	width: 100%;

	&--title-bar {
		display: flex;
		align-items: flex-end;
		margin-bottom: 20px;
		h2 {
			margin: 0;
		}
	}

	&--campaign-slots {
		font-style: italic;
		font-size: 12px;
		position: absolute;
		top: 100%;
		padding-top: 2px;
		color: darkslategray;
		font-family: sans-serif;
		text-transform: none;
		left: 0;
		width: 100%;
	}

	&--new-campaign {
		margin-left: 20px;
		button {
			position: relative;
		}
	} 
}
