.campaign-list {
    display: flex;
    
    &--campaign {
        width: 500px;
        height: 315px;
        margin-left: 40px;
        margin-bottom: 40px;

        &:first-of-type {
            margin-left: 0;
        }
    }
}
