.header {
	width: 100%;
	height: 46px;
	padding: 0;
	background: #222222;
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
	z-index: 50;
	color: #FFF;

	&--logo {
		float: left;
		margin: 0;
		padding: 0 15px;
		font-size: 24px;
		line-height: 56px;
		font-weight: 400;
		* {
			text-decoration: none;
			color: white;
		}
	}

	nav {
		float: right;
		font-size: 100%;
		height: 100%;
		
		a {
			display: inline-flex;
			align-items: center;
			height: 100%;
			padding: 0 15px;
			min-width: 50px;
			text-align: center;
			text-decoration: none;
			color: #FFF;
			will-change: background-color;
			border-left: 1px solid white;

			&:hover, &:active, &.active {
				background-color: #323232;
			}
		}
	}
}
